
body{
    background-color: #dbf1fa;
    color: darkgreen;
    font-size: 25px;
    line-height: 5;
}

/* @media screen and (max-width: 370px) {
    body{
        font-size: 45px !important ;
        background-color: #dbf1fa !important;
    
    }
    .fixed-table-container {
        font-size: 45px;
    }
    } */
    @media all and (max-width: 1200px) {
        body
      {
        background-color: #ddf;
        font-size: 42.5px;
      }
    }

    /* @media all and (max-width: 400px) {
        body
      {
        background-color: #ddf;
        font-size: 25px;
      }
    } */
      